* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  background-color: #4b5348;
  flex-direction: column;
  width: 100vw;
  height: 13vh;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

nav.navigasi-bar {
  display: flex;
  background-color: #1e201e;
  width: 100vw;
  height: 13vh;
  justify-content: space-between;
  padding: 0 7rem;
  position: fixed;
}

img {
  max-width: 100%;
  height: auto;
}

.logo-title {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo-title h2 {
  font-size: 2.3rem;
  color: white;
}

.navigasi-bar ul {
  height: 100%;
  width: auto;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.navigasi-bar ul li a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
}

section.container-luar {
  width: 100vw;
  height: auto;
  background-color: #30312b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-dalam-konten {
  width: 75vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #697565;
  padding: 3rem 4rem;
  gap: 5rem;
}

.article {
  width: 100%;
  height: 75vh;
  background-color:#4b5348;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3.5rem;
  border-radius: 20px;
  border: 10px solid #1e201e;
  padding: 0 2rem;
}

.arc-heading {
  width: 100%;
  height: 25%;
  display: grid;
  place-items: center;
  text-align: center;
  margin-top: 2rem;
}

.arc-heading h2 {
  color: white;
  font-size: 2.7rem;
  text-shadow: 0 0 10px white;
}

.arc-heading p {
  color: white;
  font-size: 1.2rem;
}

.list-nominasi {
  width: 100%;
  height: 39vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.ln-1 {
  width: 22%;
  height: 100%;
  background-color: #ecdfcc;
  display: grid;
  place-items: center;
  border-radius: 20px;
  border: 5px solid #665e50;
}

.ln-1 img {
  border-radius: 20px;
  border: 4px solid white;
}

.ln-1 h3 {
  color: black;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 1rem;
}

footer {
  width: 100vw;
  height: 15vh;
}

.container-footer {
  width: 100%;
  height: 100%;
  background-color: #1e201e;
}

.ft {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}

.container-footer .ft-1 {
  color: white;
}

.container-footer .ft-2 {
  display: flex;
  gap: 1rem;
}

.container-footer .ft-2 svg {
  color: white;
}
